
<p-dialog header="Diplome" [(visible)]="geeks">
<input type="text" #College placeholder="Ecole Obtention" /><br />
<input type="text" #Diplome placeholder="Diplome Obtenu" /><br />
<input type="text" #Annee placeholder="Anne Obtention" />
<button (click)="getdiplome(College.value,Diplome.value,Annee.value)">Valider</button>
</p-dialog>

<p-fieldset [transitionOptions]="'1ms'">
  <ng-template pTemplate="header"
  [toggleable]="true">
  <p-button (click)="gfg()" label="{{this.cv[0].diplome }}"></p-button>
  </ng-template>
  <p-scrollPanel [style]="{ width: '100%', height: '150px' }">
    <ul type="square">
      <p-timeline [value]="events">
        <ng-template pTemplate="content" let-event>

            <small class="p-text-secondary">{{event.college}}</small>
            <p>
              {{event.diplome}}
            </p>


            <button pButton type="button" label="Suprrimer" class="p-button-danger" (click)="deletediplome(event)"></button>
            <!-- <button pButton type="button" label="Modifier" class="p-button-success"></button> -->
        </ng-template>



        <ng-template pTemplate="opposite" let-event>
            {{event.annee}}
        </ng-template>

    </p-timeline>
    </ul>
  </p-scrollPanel>
</p-fieldset>






