#bg-color1{
  background-color: rgb(0, 0, 0);
}

#bg-color2{
  margin: 5% -1.5% 0%  -1.5%;
  /* padding: 10%; */
  background-color: rgb(164, 198, 227);
}
.left{
  padding-top: -6%;
}
.overflow
{
  overflow-y: scroll;
  overflow-x:hidden ;
  width: 30%;
  height: auto;
}
