<!-- image -->
<input type="file"  accept=".png,.jpg" (change)="updateImage($event)">
<img [src]=info[0].photo  alt=""  style="width: 180px; height: 180px" />

<!-- Modals INFORMATION -->
<p-dialog header="Details Personnels" [(visible)]="geeksDetails">
  <input type="text" #nom placeholder="Nom" /><br />
  <input type="text" #prenom placeholder="Prenom" /><br />
  <input type="text" #lieuNaiss placeholder="Lieu de Naissance" /><br>
  <input type="date" #dateNaiss value="2022-01-01" placeholder="Date de Naissance" /><br>
  <input type="text" #rue placeholder="Addresse de residence" /><br>
  <input type="text" #occupation placeholder="Occupation" /><br>
  <button
    (click)="getdetails(nom.value,prenom.value,lieuNaiss.value,dateNaiss.value,rue.value,occupation.value)">Valider</button>
</p-dialog>

<!-- Modals Contact -->
<p-dialog header="Contacts" [(visible)]="geeksContact">
  <input type="text" #contact placeholder="69697**51" /><br />
  <button (click)="getcontact(contact.value)">Valider</button>
</p-dialog>

<!-- Modals Mail -->
<p-dialog header="Addresse Mail" [(visible)]="geeksMail">
  <input type="text" #mail placeholder="Example@gmail.com" /><br />
  <button (click)="getmail(mail.value)">Valider</button>
</p-dialog>

<!-- details personnel -->
<p-fieldset [transitionOptions]="'1ms'">
  <ng-template pTemplate="header" [toggleable]="true">
    <p-button (click)="gfgDetails()" label="{{this.cv[0].details }}"></p-button>
  </ng-template>
  <p-scrollPanel [style]="{ width: '100%', height: '150px'  }">

    <div class="displayFlex">
      <input type="text" class="inputBorder" #noms  (click)="boutonNom()" value="{{info[0].noms}}" />
    </div>
    <div class="displayFlex">
      <input type="text" class="inputBorder" #prenoms  (click)="boutonPrenom()"
        value="{{info[0].prenoms}}" />
    </div>
    <div class="displayFlex">
      <input type="date" class="inputBorder" value="2018-07-22" #dateNaissS  (click)="boutonDateNaiss()"
        value="{{info[0].dateNaissance}}" />
    </div>
    <div class="displayFlex">
      <input type="text" class="inputBorder" #ville  (click)="boutonVille()" value="{{info[0].lieuNaissance}}" />
    </div>
    <div class="displayFlex">
      <input type="text" class="inputBorder" #rueS  (click)="boutonRue()" value="{{info[0].adresse}}" />
    </div>
    <div class="displayFlex">
      <input type="text" class="inputBorder" #occupationS  (click)="boutonOccupation()"
        value="{{info[0].occupation}}" />
    </div>
    <div class="displayFlex">
      <textarea name="" id="" cols="30" rows="10" #description value="{{info[0].description}}"></textarea>
    </div>
    <button (click)="updateinfo(noms.value,prenoms.value,ville.value,dateNaissS.value,rueS.value,occupationS.value,description.value)">Modifier</button>
  </p-scrollPanel>
</p-fieldset>

<!-- contact -->
<p-fieldset [transitionOptions]="'1ms'">
  <ng-template pTemplate="header" [toggleable]="true">
    <p-button (click)="gfgContact()" label="{{this.cv[0].contact }}"></p-button>
  </ng-template>
  <p-scrollPanel [style]="{ width: '100%', height: '150px' }">

    <div class="displayFlex" *ngFor="let num of  conctacts">
      <input type="text" class="inputBorder" #numero [id]="numero" (click)="boutonNumero()"
        value="{{num.contact}}" />
    </div>

  </p-scrollPanel>
</p-fieldset>

<!-- Email -->
<p-fieldset [transitionOptions]="'1ms'">
  <ng-template pTemplate="header" [toggleable]="true">
    <p-button (click)="gfgMail()" label="{{this.cv[0].addresse }}"></p-button>
  </ng-template>
  <p-scrollPanel [style]="{ width: '100%', height: '150px' }">

    <div class="displayFlex" *ngFor="let mail of mails">
      <input type="text" class="inputBorder" #mail [id]="mail" (click)="boutonMail()" value="{{mail.addresseMail}}" />
      <button id="BOuvrirmail" class="allBouton">
        <a href="mailto:{{mail.addresseMail}}" target="_blank" class="no-underline hover:underline">Ouvrir
        </a>
      </button>
      <button id="Bmail" class="allBouton" (click)="inputMail(mail.value)">
        OK
      </button>
    </div>

  </p-scrollPanel>
</p-fieldset>

<!-- <p-card>
 </p-card
><br /> -->
<br>
<div class="icons">
  <div class="displayFlex">
    <div (click)="boutonLinkedin()">
      <i class="pi pi-linkedin pl-8 pr-4" style="font-size: 2rem"></i>
    </div>
    <div (click)="boutonStackoverflow()">
      <i class="pi pi-star pl-4 pr-4" style="font-size: 2rem"></i>
    </div>
    <div (click)="boutonGithub()">
      <i class="pi pi-github pl-4" style="font-size: 2rem"></i>
    </div>
  </div>

  <!--linkedin  -->

  <div class="displayFlex">
    <input type="text" class="inputBorder allBouton" #linkedin id="linkedin" value="{{ this.cv[0].linkedin }}" />
    <button id="BOuvrirlinkedin" class="allBouton">
      <a href="{{ cv[0].linkedin }}" target="_blank" class="no-underline hover:underline">Ouvrir
      </a>
    </button>
    <button id="Blinkedin" class="allBouton" (click)="inputLinkedin(linkedin.value)">
      OK
    </button>
  </div>

  <!--stackoverflow  -->

  <div class="displayFlex">
    <input type="text" class="inputBorder allBouton" #stackoverflow id="stackoverflow"
      value="{{ this.cv[0].stackoverflow }}" />
    <button id="BOuvrirstackoverflow" class="allBouton">
      <a href="{{ cv[0].stackoverflow }}" target="_blank" class="no-underline hover:underline">Ouvrir
      </a>
    </button>
    <button id="Bstackoverflow" class="allBouton" (click)="inputStackoverflow(stackoverflow.value)">
      OK
    </button>
  </div>

  <!-- github -->

  <div class="displayFlex">
    <input type="text" class="inputBorder allBouton" #github id="github" value="{{ this.cv[0].github }}" />
    <button id="BOuvrirgithub" class="allBouton">
      <a href="{{ cv[0].github }}" target="_blank" class="no-underline hover:underline">Ouvrir
      </a>
    </button>
    <button id="Bgithub" class="allBouton" (click)="inputGithub(github.value)">
      OK
    </button>
  </div>
  <!--  -->
</div>
