<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible"content="IE=edge">
    <meta name="viewport"content="with=device-with, intial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css" integrity="sha512-KfkfwYDsLkIlwQp6LFnl8zNdLGxu9YAA1QvwINks4PhcElQSvqcyVLLD9aMhXd13uQjoXtEKNosOWaZqXgel0g==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet"href="style.css">
    <title>CV elie</title>

  </head>
  <body>
      <main>
        <section.class="left">
          <div.class="left-image">
            <img-src="IMG_20220525_084152087.jpg" alt="photo.jpg">
            <h2>Elie</h2>            
          </div>
           <div class="Personal">
             <ul>
               <li><i class="fa-solid fa-calendar-circle-exclamation"></i> DEVELOPPEUR</li>
               <li><i class="fa-solid fa-street-view"></i> Yaonde, Cameroun</li>
               <li><i class="fa-solid fa-envelope-circle-check"></i> eliendjichou@gmail.com</li>
               <li><i class="fa-solid fa-phone-flip"></i> 655178911, 652838602</li>
             </ul>
             <hr>

           </div>
           <div class="Skill">
             <h3><i class="fa-solid fa-gear"></i> Skill</h3>
             <ul>
               <li> <p>Adobe</p>.<progress.max="100" value="80"></progress.max>
              </li>
              <li> <p>HTML</p>.<progress.max="100" value="90"></progress.max>
                </li>
                <li> <p>CSS</p>.<progress.max="100" value="70"></progress.max>
                </li>
             </ul>
           </div>

     <div class="Language">
            <h3><i class="fa-solid fa-language"></i> language</h3>
            <ul>
              <li> <p>English</p>.<progress.max="100" value="100"></progress.max>
             </li>
             <li> <p>French</p>.<progress.max="100" value="80"></progress.max>
               </li>
               <li> <p>German</p>.<progress.max="100" value="90"></progress.max>
               </li>
            </ul>
          </div>
    
        </section>
        </section.class="right">
           <div class="experience">
                <h1><i class="fa-solid fa-briefcase"></i> work experience</h1>
                <ul>
                  <li><i class="fa-solid fa-briefcase"></i> Developeur</li>
               <li .class="date"   <li><i class="fa-solid fa-calendar-circle-exclamation"></i> Jan 2020 - <span class="current">
                  </span></li>
                  <li><p>My name is Ndjichou Elie I am graduated with an advance level degree . after my advance level , </p></li>

                </ul>
                <ul>
                  <li><i class="fa-solid fa-briefcase"></i> Developeur</li>
               <li .class="date"   <li><i class="fa-solid fa-calendar-circle-exclamation"></i> Jan 2020 - <span class="current">
                  </span></li>
                  <li><p>My name is Ndjichou Elie I am graduated with an advance level degree . after my advance level .</p></li>

                </ul>
           </div>
           <div class="Education"></div>
            <h1><i class="fa-solid fa-university"></i> Education</h1>
           <ul>
            <li><i class="fa-solid fa-briefcase"></i> level two ICT4D</li>
         <li .class="date"   <li><i class="fa-solid fa-calendar-circle-exclamation"></i> Jan 2020 - <span class="current">
            </span></li>
            <li><p>My name is Ndjichou Elie I am graduated with an advance level degree . after my advance level , I had a jop vacancy in the company of my oncle where I was learning how to write programming languages. I hve a grate uderstanding of HTML, C++ ,and java</p></li>

          </ul>
          <ul>
            <li><i class="fa-solid fa-briefcase"></i> NETWORK Developper</li>
         <li .class="date"   <li><i class="fa-solid fa-calendar-circle-exclamation"></i> Jan 2020 - <span class="current">
            </span></li>
            <li><p>My name is Ndjichou Elie I am graduated with an advance level degree . after my advance level , I had a jop vacancy in the company of my oncle where I was learning how to write programming languages. I hve a grate uderstanding of HTML, C++ ,and java</p></li>

          </ul>
      </section>
      </main> 
      <footer>
        <p>you can Follow me on social Media</p>
        <li><i class="fab. fa-facebook-square fa-2x"></i>
          <li><i class="fab. fa-linkedin fa-2x"></i>
            <li><i class="fab. fa-twitter-square fa-2x"></i>
              <p>Copyright 2021</p>
      </footer>   
  </body>
</html>
