
<div class="image">
  <img src="./assets/images/img.png" width="150" height="150" alt="" />
  <!-- <img id="imgPreview" alt="" style="width: 180px; height: 180px;" />
    <label>Images<input type = "file" id = "myfile" /></label> -->
</div>
<p-card>
  <div>
    <input type="text" #nom [id]="name" value="{{ cv[0].details }}" />
    <button (click)="input(nom.value)">OK</button>
  </div>
  <div>
    <a
      href="./mailto:iyadaniel6@gmail.com "
      class="no-underline hover:underline"
    >
      {{ cv[0].mail }}
    </a>
  </div>
  <div>{{ this.cv[0].numero }}</div>
  <div>{{ this.cv[0].ville }}</div>
  <div>{{ this.cv[0].nationalite }}</div> </p-card
><br />
<div class="icons">
  <a href="https://www.linkedin.com/in/daniel-iya-a29519181/"
    ><i class="pi pi-linkedin pl-8 pr-5" style="font-size: 2rem"></i
  ></a>
  <a href="https://stackoverflow.com/users/18965791/papa-dollars?tab=profile"
    ><i class="pi pi-star pr-5" style="font-size: 2rem"></i
  ></a>
  <a href="https://github.com/PapaDollars"
    ><i class="pi pi-github" style="font-size: 2rem"></i
  ></a>
</div>
