.p-scrollpanel p {
  padding: 5rem;
  line-height: 1.5;
  margin: 0;
}
.custombar1 .p-scrollpanel-bar {
  background-color: var(--primary-color);
  opacity: 1;
}
.custombar1  .p-scrollpanel-wrapper {
    border-right: 9px solid var(--layer-1);
}
.input{
  border: 0;
}
.button{
  display: none;
}
.im{
  display: flex;
}
.inputBorder{
  border: 0;
  font-size: 110%;
  width:185px;
}
.displayFlex{
  display: flex;
}
.allBouton{
  border: 0;
  color: black;
  background-color: rgb(0, 162, 255);
  padding: 5px 15px;
  display: none;
}
.displayNone{
  display: none;
}
.theme{
  padding:1% 5% ;
  margin: 0% 1%;
  border: 0;
}
