<div>

  <div class="card">
    <p-tabView>
      <!-- sign in -->
      <p-tabPanel header="Sign In"><br>
        <h1>Connection</h1><br>
        <span class="p-float-label">
          <input id="float-input" type="text" pInputText>
          <label for="float-input">Exemple@gmail.com</label>
        </span><br><br>
        <span class="p-float-label">
          <input id="float-input" type="text" pInputText>
          <label for="float-input">Mot de Passe</label>
        </span>
        <div> <br><br><br><br>
          <button pButton type="button" label="To log in"></button>
        </div>
      </p-tabPanel>
      <!-- sign up -->
      <p-tabPanel header="Sign Up"><br>
        <h1>Registration</h1><br>
        <span class="p-float-label">
          <input id="float-input" type="text" pInputText>
          <label for="float-input">Nom d'utilisateur</label>
        </span><br><br>
        <span class="p-float-label">
          <input id="float-input" type="text" pInputText>
          <label for="float-input">Exemple@gmail.com</label>
        </span><br><br>
        <span class="p-float-label">
          <input id="float-input" type="text" pInputText>
          <label for="float-input">Mot de Passe</label>
        </span>
        <div><br><br><br><br>
          <button pButton type="button" label="Register"
          class="p-button-raised p-button-rounded"></button>
        </div>
      </p-tabPanel>
    </p-tabView>
  </div>

</div>
