<div class="container">

  <div class="row">
    <div class="col mt-4">
      <img src="./assets/images/template1.png" (click)="Template1_PDF()" width="200" height="250" alt="" />

      <div id="template1" #content1>
        <app-template1></app-template1>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col mt-4">
      <img src="./assets/images/template1.png" (click)="Template2_PDF()" width="200" height="250" alt="" />

      <div id="template2" #content2>
        Template 2
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col mt-4">
      <img src="./assets/images/template1.png" (click)="Template3_PDF()" width="200" height="250" alt="" />

      <div id="template3" #content3>
        Template 3
      </div>
    </div>
  </div>

</div>
