<header>
  <h1>BIENVENU SUR ANGULAR CLI</h1>
  <h3>
    Primeng a ete instaler, mais il reste l'importation de quelque bibliotheque
    (Primeng)
  </h3>
  <p>
    Si vous consulter ce projet apres le Jeudi 12 mai 2022, sacher que la
    bibliotheque manquente a deja ete ajouter. Vous pouvez deja utiliser le
    framework primeng dans votre composent que voulez creer pour faire la
    section qui vous a ete confier !
    <br /><br />
    <i> Texte Modifier par papa_dollars le 11 mai 2022. </i>
    <br /><br /><br />
  </p>
  <p>
    <strong> Test Primeng : </strong>
  </p>
  <p-calendar [(ngModel)]="birthday" [showIcon]="true" dateFormat="mm/dd/yy">
  </p-calendar>
<br><br><br>
  <button
      pButton type="button">
      Bouton
  </button>
  <p>
    lien youtube pour vous aidez a comprendre
    <a href="https://youtu.be/a6VLkLpACqQ">
      <strong>Primeng</strong>
    </a>
    <br />
    lien pour installer
    <a href="http://youtube.com/watch?v=MWWYTj9uHyI&t=26s">
      <strong>Primeng</strong>
    </a>
    dans votre projet
  </p>
</header>
